<!DOCTYPE html>
<html lang="vi">
<!-- head -->
<%-include('partials/head')%>
<body class="">
    <!-- loader -->
    <%-include('partials/loader')%>
    <!-- nav -->
    <%-include('partials/nav')%>
    <!-- header -->
    <%-include('partials/header')%>
    <!-- main -->
    <%-include(path)%>
    <!-- Modal -->
    <%-include('partials/modal')%>
    <!-- script -->
    <%-include('partials/script')%>
</body></html>